.profile {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-left: 5rem;
  h3 {
    margin: 3rem 0;
    font-size: 2em;
  }
  p {
    font-size: 1.3rem;
    line-height: 20px;
    margin: 2rem 0;
    color: rgb(0, 0, 0);
    font-weight: 800;

    span {
      color: #ccc;
      font-size: 0.61em;
      margin-left: 1rem;
    }
  }

  button {
    border: none;
    height: 3rem;
    border-radius: 8px;
    background: tomato;
    color: #ffffff;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    outline: none;
    margin-top: 3rem;
  }
}
